<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Let Them Eat Cake</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cakes.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>